<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>FoodNavi</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/bg.css"/>
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <img src="/assets/images/foodNavi.png" alt="foodNavi" class="logo">
        <div class="content">
            <div class="inner">
                <h1><img src="/assets/images/foodNaviFont.png" alt="foodNaviFont"></h1>
                <p>당신의 건강을 위한 건강식단 추천 시스템 </p>
            </div>
        </div>
        <nav>
            <ul>

                <li><a href="/user_membership">회원가입</a></li>
                <li><a href="/user_login_form">로그인</a></li>

            </ul>
        </nav>
        <button class="primary" name="admin" id="admin" value="admin"><a href="admin_login_form">관리자</a></button>
    </header>

    <!-- Main -->
    <div id="main">


        <!-- Elements -->
        <article id="elements">
            <h2 class="major">Elements</h2>

            <pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>


        </article>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Team Navigation. </p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>