<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">

<style>
	.disabled {
		display: none;
	}
	
	.active {
		font-weight: 700;
	}
	
	#page_area {
		margin:0 auto;
	}
	
	#page_area ul li {
		list-style: none;
		display: inline-block;
	}

</style>

<!-- 페이지 번호가 표시되는 영역 구현 -->
<div id="page_area">
	<ul class="pagination" th:with="start=${T(java.lang.Math).floor(pageInfo.number/foodScanVo.pageMaxDisplay)*foodScanVo.pageMaxDisplay + 1},
														   last=(${start + foodScanVo.pageMaxDisplay-1 < pageInfo.totalPages ? start + foodScanVo.pageMaxDisplay-1 : pageInfo.totalPages})">
  		<th:block th:with="
  			next_url=@{admin_food_list},
  			firstPage=@{${next_url}(page=1)},
  			previous=@{${next_url}(page=${pageInfo.number})},
  			next=@{${next_url}(page=${pageInfo.number + 2})},
  			lastPage=@{${next_url}(page=${pageInfo.totalPages})}">
  																	   	
			<!-- 첫 페이지로 가기 버튼 -->
			<li class="paging">
				<th:block th:if="${pageInfo.number+1 == 1}">
					<span aria-hidden="true">First</span>
				</th:block>
				<th:block th:unless="${pageInfo.number+1 == 1}">
					<a th:href="${firstPage}" aria-label="First">
						<span aria-hidden="true">First</span>
					</a>
				</th:block>
			</li>
			<!--  이전 페이지로 가기 버튼  -->
			<li class="paging">
				<th:block th:if="${pageInfo.number == 0}">
					<span aria-hidden="true">&lt;</span>
				</th:block>
				<th:block th:unless="${pageInfo.number == 0}">
					<a th:href="${previous}" aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
				</th:block>
			</li>
			
	
			<!-- [1][2][3]... 표시 부분 -->
			<li th:each="page : ${#numbers.sequence(start, last)}" th:class="${page == pageInfo.number + 1} ? 'active'" class="paging">
				<th:block th:if="${pageInfo.number+1 == page}">
					<span>[[${page}]]</span>
				</th:block>
				<th:block th:if="${pageInfo.number+1 != page}">
					<a th:text="${page}" th:href="@{${next_url}(page=${page})}"></a>	
				</th:block>				 
			</li>
		
			<!--  다음 페이지로 -->
			<li class="paging">
				<th:block th:if="${pageInfo.number+1 == pageInfo.totalPages}">
					<span aria-hidden="true">&gt;</span>
				</th:block>
				<th:block th:unless="${pageInfo.number+1 == pageInfo.totalPages}">
					<a th:href="${next}" aria-label="Previous">
						<span aria-hidden="true">&gt;</span>
					</a>
				</th:block>
			</li>
						
			<!-- 맨 마지막 페이지로 이동 -->
			<li>
				<th:block th:if="${pageInfo.number+1 == pageInfo.totalPages}">
					<span aria-hidden="true">Last</span>
				</th:block>
				<th:block th:unless="${pageInfo.number+1 == pageInfo.totalPages}">
					<a th:href="${lastPage}" aria-label="Last">
						<span aria-hidden="true">Last</span>
					</a>
				</th:block>
			</li>
		</th:block>
	</ul>
</div>




