<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/includes/headerMain}"></th:block>

<meta charset="UTF-8">
<title>Board List</title>

<h1>
    <a href="/mainpage"><img src="/assets/images/foodNaviFont.png" alt="foodNaviFont" class="foodNaviFont"></a>
</h1>

<article id="box">

    <h2>커뮤니티 게시글 목록</h2>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>추천수</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board, iterStat : ${boardBestList}" th:if="${iterStat.index < 3}">
            <td>
                <div class="popularPosts">[인기] <a th:href="@{'/board_detail/' + ${board.bseq}}">
                                                            <span th:text="${board.title}"></span>
                                                            <img src="/assets/images/reply.png" style="width: 18px; height: 18px; vertical-align: middle; filter: invert(100%);"/>
                                                            <span th:text="'[' + ${board.commentCount} + ']'"></span>
                </a></div>
                <input type="hidden" name="bseq" th:value="${board.bseq}"/></td>
            <td> <a th:href="@{'/board_userList/' + ${board.user.useq}}" th:text="${board.user.userid}"></a>
             <input type="hidden" name="useq" th:value="${board.user.useq}" /></td>
            <td th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.likes}"></td>
            <td th:text="${board.cnt}"></td>
        </tr>

        <tr th:each="board : ${boardList}">
            <td>
                <div class="board_list">
                    <a th:href="@{'/board_detail/' + ${board.bseq}}">
                        <span th:text="${board.title}"></span>
                        <img src="/assets/images/reply.png" style="width: 18px; height: 18px; vertical-align: middle; filter: invert(100%);"/>
                        <span th:text="'[' + ${board.commentCount} + ']'"></span></a>
                   </div>
                <input type="hidden" id="bseq"
                       name="bseq" th:value="${board.bseq}"/></td>
            <td> <a th:href="@{'/board_userList/' + ${board.user.useq}}" th:text="${board.user.userid}"></a>
                <input type="hidden" name="useq" th:value="${board.user.useq}" /></td>
            <td
                    th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.likes}"></td>
            <td th:text="${board.cnt}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이지 영역 -->
    <!-- 리스트에 맞게 페이지가 입력되는 영역 -->
    <!-- 리스트의 사이즈가 0인 경우에는 표시되지 않음 -->
    <th:block id="page_insert" th:if="${pageInfo.totalPages != 0}"
              th:insert="~{/board/include/board_page_area}"></th:block>


    <form th:action="@{/board_list_search}" method="get">
        <div class="search-container">
            <select name="searchField" id="search" class="search">
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="titleContent">제목 / 내용</option>
                <option value="writer">작성자</option>
            </select>
            <label> <input type="text" name="searchWord" class="searchWord">
            </label>

            <button type="submit" class="searchButton">검색</button>
        </div>
    </form>


    <button onclick="window.location.href='/board_insert_form'" class="button">새로운
        글 작성
    </button>


</article>

<div class="fixed-bottom">
    <th:block th:insert="~{includes/toggleChat}"></th:block>
</div>

<th:block th:insert="~{/includes/footer}"></th:block>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/chatToggle.js"></script>
