<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
<meta charset="UTF-8">

<!-- summernote   -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <link href="/assets/summernote/css/summernote-lite-darkly.css" rel="stylesheet">
</head>

<body>
<th:block th:insert="~{/includes/headerMain}"></th:block>
<h1><a href="/mainpage"><img src="/assets/images/foodNaviFont.png" alt="foodNaviFont" class="foodNaviFont"></a></h1>


<article id="box">
    <h2>커뮤니티 게시글 수정</h2>
    <form name="form" method="post" enctype="multipart/form-data" action="/board_edit">
        <input type="hidden" id="bseq" name="bseq" th:value="${board.bseq}">
        <input type="hidden" name="likes" th:value="${board.likes}">
        <input type="hidden" name="cnt" th:value="${board.cnt}">

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:value="${board.title}">
        </div>
        <div>
            작성자: <span th:text="${board.user.name}">작성자명</span>
        </div>
        <div>
            작성일시: <span
                th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜시간</span>
        </div>
        <div>
            <label for="summernote">Content:</label>
            <textarea id="summernote" name="content" rows="10" cols="100" th:utext="${board.content}"></textarea>
        </div>

        <button type="submit" class="button" onclick="return confirmEdit()">수정 완료</button> <button
            type="button" class="button" onclick="return listReturn()">돌아가기</button>
    </form>

<div>
</div>
</article>

<div class="fixed-bottom">
    <th:block th:insert="~{includes/toggleChat}"></th:block>
</div>

	<th:block th:insert="~{includes/footer}"></th:block>
	
	<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
        crossorigin="anonymous"></script>
    <script src="/assets/summernote/js/summernote-lite.js"></script>
	<script src="/assets/summernote/lang/summernote-ko-KR.js"></script>
    
    <script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 300,                 // 에디터 높이
            minHeight: 500,             // 최소 높이
            maxHeight: 500,             // 최대 높이
            // 에디터 한글 설정
            lang: "ko-KR",
            focus: true,
            theme: 'darkly',
            toolbar: [
                ['fontname', ['fontname']], // 글꼴 설정
                ['fontsize', ['fontsize']], // 글자 크기 설정
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']], // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['table', ['table']], // 표만들기
                ['para', ['ul', 'ol', 'paragraph']], // 글머리 기호, 번호매기기, 문단정렬
                ['height', ['height']], // 줄간격
                ['insert', ['link','picture', 'video']], // 링크, 이미지, 비디오 추가
            ],
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],

            callbacks: {
                onImageUpload: function (files) {
                    uploadSummernoteImageFile(files[0], this);
                    alert("이미지가 추되었습니다.")
                }
            }
        });
    });

    function uploadSummernoteImageFile(file, editor) {
        var data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/uploadSummernoteImageFile",
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.responseCode === "success") {
                    $(editor).summernote('editor.insertImage', data.url);
                    alert("이미지 업로드 성공");
                } else {
                    alert("이미지 업로드 실패");
                }
            },
            error: function() {
                alert("이미지 업로드 중 오류 발생");
            }
        });
    }

    function confirmEdit(){
        var result = confirm("게시글을 수정하시겠습니까?");
        return result;
    }

    function listReturn() {
        var result = confirm("게시글 목록으로 돌아가시겠습니까?");
        if (result) {
            window.location.href = "/board_list";
        }
        return result;
    }


    </script>

</body>
</html>

