<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alert Page</title>
</head>
<body>
<!-- JavaScript 코드를 통해 alert 호출 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${msg}]]*/ '';
    var success = /*[[${success}]]*/ '';
    var fseq = /*[[${fseq}]]*/ '';

    if (message != null) {
        alert(message);
        window.location.href = "/food_detail?fseq=" + encodeURIComponent(fseq);
    }

    if (success != null) {
        alert(success);
        window.location.href = "/foodTodayHistory_view";
    }

    /*]]>*/
</script>
</body>
</html>